@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');

* {
	font-family: "Advent Pro";
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.banner-image {
	width:100%;
	position: absolute;
	z-index: 1;
}
.nav {
	display : flex;
	position: absolute;
	margin: 8rem;
	margin-top: 2rem;
	border: 2rem solid #FFFFFF;
}
.nav-item {
	margin: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #FFFFFF;
	z-index: 3;
}
.shading {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #036100;
	opacity: 0.5;
	z-index: 2;
}
.nav-item:hover {
	background-color: #036100;
	color: #FFFFFF;
	cursor: pointer;
	border-bottom: 0.25rem solid #FFFFFF;
}
.banner-text {
	position: absolute;
	z-index: 3;
	font-size: 4rem;
	top: 13rem ;
	left: 45rem;
	color: #99cc99;
	
}

